@CHARSET "UTF-8";

body
{
	margin: 0px;
	padding: 0px;
	
}
/*-------------------------전체배경---------------------------------*/
.step1_1_category_bg_image{
	background-image: url("./images/bg-blur-1.jpg");
	background-size: contain;		/*배경이미지 안하면 바둑판*/
	background-repeat: no-repeat;  	/*배경 연속*/
	top: 0%;
	width: 320px;
	height: 568px;
	position: relative;				/*위치(absolute,relative*/
}
/*------------------------------헤드 영역------------------------------*/
.step1_1_category_head_space{
	background-size: contain;		/*배경이미지 안하면 바둑판*/
	background-repeat: no-repeat;  	/*배경 연속*/
	width: 320px;
	height: 63px;
	position: relative;				/*위치(absolute,relative*/
}

/*-------------------------------헤드 폰트------------------------------*/
.left{
    color: #1BC1D7;
	font-size: 32.5px;
	padding-left: 15.5px;
    float:left;
    position: relative;
    top: 20px;
}

.step1_1_category_head_middle_text{
	position: relative;
	font-family:AppleSDGothicNeo-light;
	color: #1BC1D6;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 32.5px;
	left: 89px;
	float:left;
}

.step1_1_category_head_right_text{
	position: relative;
	font-family:AppleSDGothicNeo-light;
	color: #1BC1D6;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 32.5px;
	left: 162.5px;
	float:left;
}

/*-------------------------------중간선-------------------------------*/
.step1_1_category_head_line1{
	position: relative;				/*위치(absolute,relative*/
	background-color: #c1c1c1;
	padding: 0.25px;
	top: 64px;
}

/*--------------------------------중간 텍스트----------------------------*/
.step1_1_category_middle_text{
	position: relative;				/*위치(absolute,relative*/
	font-family:AppleSDGothicNeo-Regular;
	color: #AFAEAE;
	font-size: 15px;
	top: 24px;
	letter-spacing: -0.5px; 
	text-align: center;
}

/*----------------------------카테고리 아이콘-----------------------------*/
.step1_1_category_button1{
	background-color: #000000;
	opacity: 0.16;
	border-bottom-left-radius: 5px 5px;
  	border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
  	border-top-right-radius: 5px 5px;
	width: 290px;
	height: 44px;
	top: 40px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
}

.step1_1_category_button2{
	background-color: #55d1e1;
	border-bottom-left-radius: 5px 5px;
  	border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
  	border-top-right-radius: 5px 5px;
	width: 290px;
	height: 44px;
	top: 42px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
}

.step1_1_category_button3{
	background-color: #1bc1d7;
	border-bottom-left-radius: 5px 5px;
  	border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
  	border-top-right-radius: 5px 5px;
	width: 280px;
	height: 44px;
	top: 44px;
	left: 4px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
}
.step1_1_category_button4{
	background-color: #04b1cb;
	border-bottom-left-radius: 5px 5px;
  	border-bottom-right-radius: 5px 5px;
    border-top-left-radius: 5px 5px;
  	border-top-right-radius: 5px 5px;
	width: 270px;
	height: 44px;
	top: 46px;
	left: 8px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
}

/*---------------------------------카테고리 폰트---------------------------*/

.step1_1_category_text1{
	width: 230px;
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #FEFFFF;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 14px;
	left: 23.5px;
}
.angle_icon{
	position: relative;
	width: 30px;
	color: #FEFFFF;
	font-size: 25px;
	letter-spacing: -0.5px;
	left: 85%;
	top: -10px;
	text-align:center;

}
.step1_1_category_text2{
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #FEFFFF;
	font-size: 16px;
	letter-spacing: -0.5px; 
	left: 23.5px;
	top: 12px;
}

.step1_1_category_text3{
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #FEFFFF;
	font-size: 16px;
	letter-spacing: -0.5px; 
	left: 23.5px;
	top: 12px;
}

/*----------------------------카테고리 범위-----------------------------*/
.step1_1_category_space1{
	background-size: contain;		/*배경이미지 안하면 바둑판*/
	background-repeat: no-repeat;  	/*배경 연속*/
	width: 320px;
	height: 44px;
	margin: auto;
	top: 46px;
	position: relative;				/*위치(absolute,relative*/
}

.step1_1_category_space2{
	background-size: contain;		/*배경이미지 안하면 바둑판*/
	background-repeat: no-repeat;  	/*배경 연속*/
	width: 320px;
	height: 44px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
	top: 46px;
}

.step1_1_category_space3{
	background-size: contain;		/*배경이미지 안하면 바둑판*/
	background-repeat: no-repeat;  	/*배경 연속*/
	width: 320px;
	height: 44px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
	top: 46px;
}
.step1_1_category_select{ /*선택된 영역: 위치 조정에 실패했음! 수정바랍니다.*/
	background-color: #000000;
	opacity: 0.00;
	height: 44px;
}
.step1_1_category_space4{
	background-size: contain;		/*배경이미지 안하면 바둑판*/
	background-repeat: no-repeat;  	/*배경 연속*/
	width: 320px;
	height: 44px;
	margin: auto;
	position: relative;				/*위치(absolute,relative*/
	top: 46px;
}

/*-------------------------------카테고리 텍스트---------------------------*/
.step1_1_category_text4{
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #7A7A7A;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 14px;
	left: 40px;
}

.step1_1_category_text5{
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #7A7A7A;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 14px;
	left: 57px;
}

.step1_1_category_text6{
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #7A7A7A;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 14px;
	left: 57px;
}
.step1_1_category_text7{
	position: relative;
	font-family:AppleSDGothicNeo-Regular;
	color: #7A7A7A;
	font-size: 16px;
	letter-spacing: -0.5px; 
	top: 14px;
	left: 57px;
}
